$font-family: 'PT Astra Sans', sans-serif;

// colors
$color-primary: #163e6c;
$color-primary-light: #2b5390;
$color-primary-bg: #dde5f0;

$color-accent: #d20a11;
$color-accent-hover: #b2080f;
$color-accent-bg: #fbe7e7;

$color-bg: #ebe6d6;
$color-bg-alt: #f5f5f5;
$color-white: #ffffff;

// text
$text-main: #1c1c1c;
$text-secondary: #4f4f4f;
$text-muted: #8b8b8b;

$input-radius: 0.75rem;
$transition-speed: 0.2s ease-in-out;
$form-padding: 2rem;
