@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.maintenance {
	@include general;
	& {
		background-color: $color-bg-alt;
	}

	a {
		background-color: $color-accent-hover;
		margin-bottom: 10px;
	}
}
